#app video::-webkit-media-controls-play-button {
    cursor: url(/IGEM/Team/AHUT_China/imgs/cursor_pointer2.png), pointer;
}

#app video::-webkit-media-controls-volume-slider {
    cursor: url(/IGEM/Team/AHUT_China/imgs/cursor_pointer2.png), pointer;
}

#app video::-webkit-media-controls-mute-button {
    cursor: url(/IGEM/Team/AHUT_China/imgs/cursor_pointer2.png), pointer;
}

#app video::-webkit-media-controls-fullscreen-button {
    cursor: url(/IGEM/Team/AHUT_China/imgs/cursor_pointer2.png), pointer;
}

#app video::-internal-media-controls-overflow-button {
    cursor: url(/IGEM/Team/AHUT_China/imgs/cursor_pointer2.png), pointer;
}

#app video::-webkit-media-controls-timeline {
    cursor: url(/IGEM/Team/AHUT_China/imgs/cursor_pointer2.png), pointer;
}

#app video::-internal-media-controls-overflow-menu-list-item {
    cursor: url(/IGEM/Team/AHUT_China/imgs/cursor_pointer2.png), pointer;
}
#app .text-box {
    width: auto;
    color: #f7ddd3;
    text-align: center;
    position: absolute;
    font-family: Futura-Heavy, sans-serif;
    z-index: 2;
}

#app .detail-box {
    opacity: 0;
    color: #FFA9B4;
    padding: 4px;
    border: white 1px solid;
    font-family: Candara, sans-serif;
    background-color: rgba(0, 0, 0, .6);
    transition: opacity 0.2s ease;
    z-index: 1;
}

#app .detail-box[data-show] {
    opacity: 1;
}

#app .detail-inner-box {
    padding: 32px;
    line-height: 1.5;
    border: white 1px solid;
}

#app .detail-box[data-popper-placement^='left'] .arrow {
    top: 50%;
    left: 100%;
    transform: translate(0, -50%);
    position: absolute;
    border: 20px solid transparent;
    border-left: 20px solid rgba(0, 0, 0, .6);
}

#app .detail-box[data-popper-placement^='right'] .arrow {
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    position: absolute;
    border: 20px solid transparent;
    border-right: 20px solid rgba(0, 0, 0, .6);
}

#app .text-box > p {
    margin-bottom: 4px;
}