#app .writing-container {
    background-image: url("/resources/images/butterfly2.png");
    background-repeat: repeat;
}

#app .writing-container .catalog {
    height: fit-content;
    background-color: rgba(255, 255, 255, .6);
    color: #751a3a;
    z-index: 10;
}

#app .writing-container .catalog > h2 {
    color: inherit;
    margin-bottom: 1rem;
    font-family: "Julius Sans One", sans-serif;
}

#app .writing-container .catalog > a {
    font-size: 20px;
    display: block;
    margin-bottom: 0.5rem;
    font-family: "Fira Code", sans-serif;
}

#app .writing-container .catalog > a.second-level {
    margin-left: 1rem;
}

#app .writing-container .catalog > a:link {
    text-decoration: none;
}

#app .writing-container .catalog > a:visited {
    text-decoration: none;
}

#app .writing-container .catalog > a:hover {
    font-weight: 500;
    text-decoration: underline;
}

#app .writing-container a {
    color: inherit;
}

#app .writing-container .container {
    background-color: #DBA8AF;
}

#app .writing-container .container > h1 {
    color: inherit;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    font-family: "Julius Sans One", sans-serif;
    margin-top: 1.5rem;
}

#app .writing-container .container > h2 {
    color: inherit;
    margin-bottom: 1rem;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #dc8b97;
    font-family: "Ubuntu Mono", sans-serif;
}

#app .writing-container .container > h3 {
    color: inherit;
    padding-left: 1.5rem;
}

#app .writing-container .container > p {
    padding: 0 2.5rem;
    color: inherit;
    font-size: 20px;
    font-weight: 200;
    font-family: "Fira Code", sans-serif;
}

#app .writing-container img.img-fluid {
    display: block;
    margin: 0 auto;
    padding: 2rem 4rem 0;
}

#app .writing-container p.img-caption {
    font-size: 18px;
    text-align: center;
}

#app .writing-container p.table-caption {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
}
