.writing-container {
    background-image: url("/Team/AHUT_China/imgs/butterfly2.png");
    background-repeat: repeat;
}

.writing-container .container {
    background-color: #E4C1BF
}

.writing-container .container > h1 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    font-family: "Julius Sans One", sans-serif;
}

.writing-container .container > h2 {
    margin-left: -1rem;
    margin-bottom: 12px;
    font-family: "Ubuntu Mono", sans-serif;
}

.writing-container .container > p {
    /*padding-left: 1rem;*/
    font-size: 20px;
    font-weight: 200;
    font-family: "Fira Code", sans-serif;
}